<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />

    <title>{{ title }}</title>
  </head>
  <body>
    <h1>List of orders</h1>
    <p>Looking for the <a href="/">Index?</a></p>
    <ul>
      {% for order in orders %}
      <li>
        <a href="/orders/{{order.order_id}}"
          >{{ order.customer_name }} - {{ order.date_ordered}}- {{
          order.quantity}}</a
        >
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
